<form id="formComment" novalidate>
  <div class="form-group">
    <label for="user">Name*</label>
    <input type="text" class="form-control" id="user" aria-describedby="nameHelp" placeholder="Enter your name" required>
    <small id="nameHelp" class="form-text text-muted">Please, field your name.</small>
  </div>
  <div class="form-group">
    <label for="comment">Comment*</label>
    <textarea class="form-control" id="comment" rows="3" required></textarea>
  </div>
  <button id="btnAddComment" type="submit" class="btn btn-primary">Add Comment</button>
</form>
<small class="form-text text-muted">* These fields are required.</small>