<div class="col">
  <div class="row">
    <div class="col d-flex justify-content-end pt-2 pb-2 collapse" id="sortGroup">Loading...</div>
  </div>
  <div class="row">
    <div class="col" id="postsList">Loading...</div>
  </div>
</div>