<div class="card mb-3">
  <div class="card-header">${scope.publish_date}</div>
  <div class="card-body">
    <h5 class="card-title">${scope.title}</h5>
    <h6 class="card-subtitle">${scope.author}</h6>
    <p class="card-text">${scope.description}</p>
    <a href="#/post/${scope.slug}" onclick="javascript: return false;" blog-data-id="${scope.id}"
      blog-data-slug="${scope.slug}" class="card-link">View Post</a>
  </div>
</div>