@mixin white-arrow {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: relative;
  top: -2.5px;
  left: 5px;
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.lgc-sort--btn {
  &--active {
    padding-right: 12px;

    &--down {
      &::after {
        @include white-arrow;
      }
    }

    &--up {
      &::after {
        @include white-arrow;
        transform: rotate(-180deg);
      }
    }
  }
}