<span class="text-left">Sort by:</span>
<button id="sortByDate" class="btn btn-secondary btn-sm ml-2 lgc-sort--btn">Date</button>
<button id="sortByAuthor" class="btn btn-secondary btn-sm ml-2 lgc-sort--btn">Author</button>
<button id="sortByTitle" class="btn btn-secondary btn-sm ml-2 lgc-sort--btn">Title</button>