<div class="col">
  <div class="row">
    <section class="col-md-8 col-sm-12 offset-md-2 mt-4">
      <h1>${scope.selected.title} <span class="font-weight-lighter">by ${scope.selected.author}</span></h1>
      <p>${scope.selected.publish_date}</p>
      <hr>
      <p class="font-weight-lighter font-italic">${scope.selected.description}</p>
      <br>
      ${scope.selected.content}
    </section>
  </div>
  <div class="row">
    <section class="col-md-8 col-sm-12 offset-md-2 mt-4">
      <h3>Comments</h3>
      <div class="row">
        <div class="col mb-4" id="postCommentForm"></div>
      </div>
      <div class="row">
        <div class="col" id="postCommentsList"></div>
      </div>
    </section>
  </div>
</div>