<div class="card mb-3">
  <div class="card-header">${scope.date} - ${scope.user}</div>
  <div class="card-body">
    <p class="card-text">${scope.content}</p>
    <div id="commentsReplies-${scope.id}"></div>
  </div>
</div>